
mdserver/mdserver.xcodeproj/project.xcworkspace/xcuserdata/midoks.xcuserdatad/UserInterfaceState.xcuserstate
*.DS_Store
.DS_Store
build/release
build/release.xcarchive
build/debug
build/debug.xcarchive
build/debug/mdserver.app/Contents/Resources/ss
